{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}


{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <h2>Добавь свой или расскажи о кулинарных успехах!</h2>
        <p>И так, почти 80% населения России, в связи с предпринимаемыми Правительством РФ и органами исполнительной власти в регионах мерами по предотвращению распространения такой "напасти" как коронавирус Covid-19, находиться дома, соблюдая режим самоизоляции / карантин, работая на удаленке.

            И это время целесообразно потратить с пользой, в том числе с пользой для Вашего здоровья. Ведь именно, Ваше #здоровье - бесценный "товар", который практически невозможно купить "новеньким" за деньги, на них можно только приобретать товары, поддерживающие и в некоторых случаях чуть улучшающие здоровье, товары для укрепления иммунитета.
            
            В настоящее время многие люди стараются перейти на #здоровый образ жизни При это, не все из них, к сожалению, особенно обитатели мегаполисов, не задумываются о том, что перестройка своего привычного образа жизни на здоровый начинается в первую очередь с такого фактора как #правильное питание Жизнь 5 дней в неделю (а у кого-то и почти ежедневно, в зависимости от жизненного и рабочего графика) в "бешеном" ритме крупных мегаполисов не позволяет тратить время на долгие сборы, в том числе, чтобы приготовить себе что-то дома поесть и это была #полезная еда Намного проще купить что-то почти готовое в магазине (полуфабрикат, который надо только разогреть в микроволновой печи), или готовое к употреблению блюдо непонятного качества в какой-нибудь шаурмичной / чебуречной палатке.
            
            Вот какие безусловные положительные стороны приготовления домашней еды лично я для себя нашла, чтобы полностью отказать от покупных полуфабрикатов, готовых кулинарных и кондитерских изделий.
            
           </p>
    </div>
{% endblock %}