<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h2>Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? 
        {% if article %}
    <a href="{% url 'registration_register_with_article' article_id=article.id %}">Зарегистрироваться</a>
{% else %}
    <a href="{% url 'registration_register' %}">Зарегистрироваться</a>
{% endif %}
    </p>
</body>
</html>